
/*GENERAL*/
html
{
    margin:0;
    padding: 0;
    width: 100%;
}

body
{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    }

main
{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    min-height: 84vh;
    width: 100%;
    flex-grow: 1;
}

h1
{
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
}

h2
{
    font-size:1.6em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

a{
    color:black;
    text-decoration: none;
}

p a:hover
{
    color:#90992C;
}

form
{
    text-align: center;
    margin:0;
}

p,li
{
    font-size:1.2em;
    font-family: 'Arial', sans-serif;
}

button, input
{
    margin:5px;
    padding:12px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: fit-content;
}

button:hover,input[type="submit"]:hover
{
    background-color: #90992C;
}

/*HEADER*/

header
{
    display: flex;
    width:100%;
    height:8vh;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #C7CC8D;
}

/*FOOTER*/

footer
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #99A67B;
    color:black;
    height:8vh;
}

footer p
{
    font-size:0.8em;
}

footer a:hover
{
    color:white;
}

/*INDEX*/

#index
{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.panneau
{
    margin:5px;
    display:flex;
    flex-direction:column ;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 80vh;
}

.bloc
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    max-width:70vw;
    margin:10px;
    padding:5px;
    height: 50vh;
}

label
{
    font-size:1.4em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin:10px;
}

/*ELEMENT*/

#element
{
    align-items:left;
}

/*RECHERCHE*/
.bloc a:visited
{
    color: grey;
}